<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Emlployee Number</th>
      <th>Screen Name</th>
      <th>Screen Name kana</th>
      <th>Chat</th>
      <th>Twitter</th>
      <th>Github</th>
      <th>Ghe</th>
      <th>Phone number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.employee_number %></td>
        <td><%= user.screen_name %></td>
        <td><%= user.screen_name_kana %></td>
        <td><%= user.chat_id %></td>
        <td><%= user.twitter_id %></td>
        <td><%= user.github_id %></td>
        <td><%= user.ghe_id %></td>
        <td><%= user.phone_number %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
