<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Employee number:</strong>
  <%= @user.employee_number %>
</p>

<p>
  <strong>Screen Name:</strong>
  <%= @user.screen_name %>
</p>

<p>
  <strong>Screen Name kana:</strong>
  <%= @user.screen_name_kana %>
</p>

<p>
  <strong>Chat:</strong>
  <%= @user.chat_id %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @user.twitter_id %>
</p>

<p>
  <strong>Github:</strong>
  <%= @user.github_id %>
</p>

<p>
  <strong>Ghe:</strong>
  <%= @user.ghe_id %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
